{
    "data-root": "/var/lib/docker",
    "log-level": "warn",
    // "log-driver": "journald",
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "10m",
        "max-file": "3"
    },
    "hosts": [
        "unix:///var/run/docker.sock"
    ],
    "dns": ["8.8.8.8","8.8.4.4"],
    "ipv6": false,
    "debug": false
}
