# https://docs.docker.com/config/pruning/
# https://github.com/moby/moby/blob/master/contrib/init/systemd/docker.service
# https://opensource.com/article/20/7/systemd-timers

[Unit]
Description=Cleanup dangling docker containers and images older than n days
After=docker.service docker.socket
Wants=docker-cleanup.timer

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'dangling_images=$(docker images --filter dangling=true -q 2>/dev/null); if [ "$dangling_images" != "" ]; then docker rmi $dangling_images; fi'
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
